server:
  port: 8910
spring:
  application:
    name: config-server
  profiles:
    active: native,dev
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config

