server:
  port: 8900
spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/user/**
              filters:
                - RewritePath=/user/(?<remaining>.*),/${remaining}
            - id: news-service
              uri: lb://NEWS-SERVICE
              predicates:
                - Path=/news/**
              filters:
                - RewritePath=/user/(?<remaining>.*),/${remaining}
            - id: news-fetcher
              uri: lb://NEWS-FETCHER
              predicates:
                - Path=/fetcher/**
              filters:
                - RewritePath=/user/(?<remaining>.*),/${remaining}

    discovery:
      locator:
        enabled: true
        lower-case-service-id: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true
    health:
      show-details: always
eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8901/eureka

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG